In [57]:
import pandas as pd
import matplotlib.pyplot as plt

crimes_2010_2019 = '/Users/oliverbohler/Desktop/Springboard/capstone project 2 violent crime in los angeles/Crime_Data_From_2010_to_2019.csv'

crimes_10_to_19 = pd.read_csv(crimes_2010_2019)

crimes_10_to_19.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [58]:
crimes_10_to_19.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [59]:
crimes_10_to_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122794 entries, 0 to 2122793
Data columns (total 28 columns):
 #   Column          Dtype
---  ------          -----
 0   DR_NO           int64
 1   Date Rptd       object
 2   DATE OCC        object
 3   TIME OCC        int64
 4   AREA            int64
 5   AREA NAME       object
 6   Rpt Dist No     int64
 7   Part 1-2        int64
 8   Crm Cd          int64
 9   Crm Cd Desc     object
 10  Mocodes         object
 11  Vict Age        int64
 12  Vict Sex        object
 13  Vict Descent    object
 14  Premis Cd       float64
 15  Premis Desc     object
 16  Weapon Used Cd  float64
 17  Weapon Desc     object
 18  Status          object
 19  Status Desc     object
 20  Crm Cd 1        float64
 21  Crm Cd 2        float64
 22  Crm Cd 3        float64
 23  Crm Cd 4        float64
 24  LOCATION        object
 25  Cross Street    object
 26  LAT             float64
 27  LON             float64
dtypes: float64(8), int64(7), object(13)
memory usage: 453.5+ MB

In [60]:
crimes_2020_2024 = '/Users/oliverbohler/Desktop/Springboard/capstone project 2 violent crime in los angeles/Crime_Data_From_2020_to_Present.csv'

crimes_20_to_present = pd.read_csv(crimes_2020_2024)

crimes_20_to_present.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [61]:
crimes_20_to_present.dtypes

DR_NO               int64
Date Rptd          object
DATE OCC           object
TIME OCC            int64
AREA                int64
AREA NAME          object
Rpt Dist No         int64
Part 1-2            int64
Crm Cd              int64
Crm Cd Desc        object
Mocodes            object
Vict Age            int64
Vict Sex           object
Vict Descent       object
Premis Cd         float64
Premis Desc        object
Weapon Used Cd    float64
Weapon Desc        object
Status             object
Status Desc        object
Crm Cd 1          float64
Crm Cd 2          float64
Crm Cd 3          float64
Crm Cd 4          float64
LOCATION           object
Cross Street       object
LAT               float64
LON               float64
dtype: object

In [62]:
combined_reports = pd.concat([crimes_10_to_19, crimes_20_to_present], ignore_index= True)

In [63]:
combined_reports.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6.0,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,NaN
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1.0,Central,176,1,122,"RAPE, ATTEMPTED",...,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488,NaN

In [64]:
combined_reports.shape

(3054934, 29)

In [65]:
combined_reports.groupby('AREA')['AREA NAME'].value_counts()

AREA  AREA NAME
1.0   Central        63133
2.0   Rampart        43617
3.0   Southwest      52581
4.0   Hollenbeck     34493
5.0   Harbor         38491
6.0   Hollywood      49080
7.0   Wilshire       44753
8.0   West LA        42668
9.0   Van Nuys       39563
10.0  West Valley    39265
11.0  Northeast      39876
12.0  77th Street    58353
13.0  Newton         46096
14.0  Pacific        54446
15.0  N Hollywood    46993
16.0  Foothill       30899
17.0  Devonshire     38309
18.0  Southeast      47068
19.0  Mission        37155
20.0  Olympic        47069
21.0  Topanga        38232
Name: count, dtype: int64

In [66]:
all_crime = combined_reports.groupby('Crm Cd')['Crm Cd Desc'].value_counts()

In [67]:
robbery_df = combined_reports[combined_reports['Crm Cd Desc'] == 'ROBBERY']

# Group by 'Crm Cd' and get value counts for 'Crm Cd Desc'
robbery_counts = robbery_df.groupby('Crm Cd')['Crm Cd Desc'].value_counts()

print(robbery_counts)

Crm Cd  Crm Cd Desc
210     ROBBERY        115548
Name: count, dtype: int64

In [68]:
# Here we want to get an idea of the crimes that are mostly reported and it looks like robberies and burglaries are top

crime_counts_df = all_crime.reset_index( name = 'Counts')
crime_counts_sorted_df = crime_counts_df.sort_values(by='Counts', ascending=False)

print(crime_counts_sorted_df.head(30))

     Crm Cd                                        Crm Cd Desc  Counts
63      624                           BATTERY - SIMPLE ASSAULT  264356
58      510                                   VEHICLE - STOLEN  260163
15      330                              BURGLARY FROM VEHICLE  219734
13      310                                           BURGLARY  204785
38      440                 THEFT PLAIN - PETTY ($950 & UNDER)  197512
26      354                                  THEFT OF IDENTITY  187737
81      740  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  166014
65      626                  INTIMATE PARTNER - SIMPLE ASSAULT  160837
6       230     ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT  145417
28      420    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  124551
4       210                                            ROBBERY  115548
82      745           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  114515
17      341  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  105889
127     930             CRIMINAL THREATS - NO WEAPON DISPLAYED   75645
40      442           SHOPLIFTING - PETTY THEFT ($950 & UNDER)   73115
16      331  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...   64995
111     888                                        TRESPASSING   36090
114     901                     VIOLATION OF RESTRAINING ORDER   30953
87      761                                    BRANDISH WEAPON   29843
142     956            LETTERS, LEWD  -  TELEPHONE CALLS, LEWD   29187
9       236              INTIMATE PARTNER - AGGRAVATED ASSAULT   28010
135     946                          OTHER MISCELLANEOUS CRIME   27418
113     900                           VIOLATION OF COURT ORDER   26333
69      649                   DOCUMENT FORGERY / STOLEN FELONY   26171
55      480                                      BIKE - STOLEN   21853
22      350                                      THEFT, PERSON   18871
5       220                                  ATTEMPTED ROBBERY   16765
14      320                                BURGLARY, ATTEMPTED   16432
104     860                        BATTERY WITH SEXUAL CONTACT   15598
76      662                                 BUNCO, GRAND THEFT   15248

In [73]:
# Ok great, we can see that the biggest problem seems to be the amount of thefts, robberies and burglaries 
#let's change some names of columns and drop columns we are not interested in

combined_reports.rename(columns = {'Crm Cd' : 'Crime Code', 'Crm Cd Desc': 'Crime Description'}, inplace = True)

In [79]:
# Let's also drop columns that we are not interested in to make it easier

combined_reports = combined_reports.drop(columns =['Part 1-2','Mocodes','Crm Cd 1','Crm Cd 2','Crm Cd 3','Crm Cd 4'])

combined_reports.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crime Code,Crime Description,Vict Age,...,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,Cross Street,LAT,LON,AREA
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13.0,Newton,1385,900,VIOLATION OF COURT ORDER,48,...,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,300 E GAGE AV,NaN,33.9825,-118.2695,NaN
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14.0,Pacific,1485,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0,...,STREET,NaN,NaN,IC,Invest Cont,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962,NaN
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13.0,Newton,1324,946,OTHER MISCELLANEOUS CRIME,0,...,ALLEY,NaN,NaN,IC,Invest Cont,1300 E 21ST ST,NaN,34.0224,-118.2524,NaN
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6.0,Hollywood,646,900,VIOLATION OF COURT ORDER,47,...,STREET,102.0,HAND GUN,IC,Invest Cont,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295,NaN
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1.0,Central,176,122,"RAPE, ATTEMPTED",47,...,ALLEY,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8TH ST,SAN PEDRO ST,34.0387,-118.2488,NaN

In [80]:
# Sort the dataframe so it only includes crimes that involve the following codes: 

combined_df=combined_reports[combined_reports['Crime Code'].isin([210,310,330,331,420,440,220,320])]
combined_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crime Code,Crime Description,Vict Age,...,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,Cross Street,LAT,LON,AREA
6,100100508,01/08/2010 12:00:00 AM,01/07/2010 12:00:00 AM,2005,1.0,Central,182,330,BURGLARY FROM VEHICLE,46,...,STREET,NaN,NaN,IC,Invest Cont,PICO BL,GRAND AV,34.0389,-118.2643,NaN
11,100100522,01/15/2010 12:00:00 AM,01/14/2010 12:00:00 AM,2000,1.0,Central,158,210,ROBBERY,40,...,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,ALAMEDA ST,7TH ST,34.0350,-118.2386,NaN
14,100100531,01/16/2010 12:00:00 AM,01/15/2010 12:00:00 AM,2030,1.0,Central,127,210,ROBBERY,47,...,SIDEWALK,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,1ST,LOS ANGELES,34.0515,-118.2424,NaN
17,100100553,01/23/2010 12:00:00 AM,01/23/2010 12:00:00 AM,1100,1.0,Central,166,210,ROBBERY,50,...,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,600 SAN JULIAN ST,NaN,34.0428,-118.2461,NaN
19,100100561,01/26/2010 12:00:00 AM,01/26/2010 12:00:00 AM,1820,1.0,Central,119,210,ROBBERY,37,...,SIDEWALK,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,800 N ALAMEDA ST,NaN,34.0563,-118.2374,NaN

In [82]:
#Now that we have our dataframe down to the crimes that affect most residents and home owners; let's drop missing values

combined_df.dropna()
combined_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Crime Code,Crime Description,Vict Age,...,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,Cross Street,LAT,LON,AREA
6,100100508,01/08/2010 12:00:00 AM,01/07/2010 12:00:00 AM,2005,1.0,Central,182,330,BURGLARY FROM VEHICLE,46,...,STREET,NaN,NaN,IC,Invest Cont,PICO BL,GRAND AV,34.0389,-118.2643,NaN
11,100100522,01/15/2010 12:00:00 AM,01/14/2010 12:00:00 AM,2000,1.0,Central,158,210,ROBBERY,40,...,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AO,Adult Other,ALAMEDA ST,7TH ST,34.0350,-118.2386,NaN
14,100100531,01/16/2010 12:00:00 AM,01/15/2010 12:00:00 AM,2030,1.0,Central,127,210,ROBBERY,47,...,SIDEWALK,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,1ST,LOS ANGELES,34.0515,-118.2424,NaN
17,100100553,01/23/2010 12:00:00 AM,01/23/2010 12:00:00 AM,1100,1.0,Central,166,210,ROBBERY,50,...,STREET,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,600 SAN JULIAN ST,NaN,34.0428,-118.2461,NaN
19,100100561,01/26/2010 12:00:00 AM,01/26/2010 12:00:00 AM,1820,1.0,Central,119,210,ROBBERY,37,...,SIDEWALK,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",AA,Adult Arrest,800 N ALAMEDA ST,NaN,34.0563,-118.2374,NaN

In [84]:
#Check for duplicates and drop them if neccessary 

duplicates = combined_df[combined_df.duplicated()]
if duplicates.empty:
    print("No duplicates found")
else :
    print("Duplicates found")
    print(duplicates)
    
combined_df_unique = combined_df.drop_duplicates()
print(combined_df_unique)

No duplicates found
             DR_NO               Date Rptd                DATE OCC  TIME OCC  \
6        100100508  01/08/2010 12:00:00 AM  01/07/2010 12:00:00 AM      2005
11       100100522  01/15/2010 12:00:00 AM  01/14/2010 12:00:00 AM      2000
14       100100531  01/16/2010 12:00:00 AM  01/15/2010 12:00:00 AM      2030
17       100100553  01/23/2010 12:00:00 AM  01/23/2010 12:00:00 AM      1100
19       100100561  01/26/2010 12:00:00 AM  01/26/2010 12:00:00 AM      1820
...            ...                     ...                     ...       ...
3054916  240605449  01/27/2024 12:00:00 AM  01/25/2024 12:00:00 AM      2112
3054917  241305457  02/01/2024 12:00:00 AM  01/31/2024 12:00:00 AM      2330
3054922  241107019  03/27/2024 12:00:00 AM  03/19/2024 12:00:00 AM      1500
3054927  240905054  01/31/2024 12:00:00 AM  01/30/2024 12:00:00 AM      2230
3054931  242106032  02/20/2024 12:00:00 AM  02/17/2024 12:00:00 AM      2330

         AREA   AREA NAME  Rpt Dist No  Crime Code  \
6          1.0    Central          182         330
11         1.0    Central          158         210
14         1.0    Central          127         210
17         1.0    Central          166         210
19         1.0    Central          119         210
...        ...        ...          ...         ...
3054916    NaN  Hollywood          626         330
3054917    NaN     Newton         1347         210
3054922    NaN  Northeast         1132         420
3054927    NaN   Van Nuys          901         330
3054931    NaN    Topanga         2103         420

                                       Crime Description  Vict Age  ...  \
6                                  BURGLARY FROM VEHICLE        46  ...
11                                               ROBBERY        40  ...
14                                               ROBBERY        47  ...
17                                               ROBBERY        50  ...
19                                               ROBBERY        37  ...
...                                                  ...       ...  ...
3054916                            BURGLARY FROM VEHICLE        31  ...
3054917                                          ROBBERY        52  ...
3054922  THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)         0  ...
3054927                            BURGLARY FROM VEHICLE        36  ...
3054931  THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)        44  ...

             Premis Desc Weapon Used Cd  \
6                 STREET            NaN
11                STREET          400.0
14              SIDEWALK          400.0
17                STREET          400.0
19              SIDEWALK          400.0
...                  ...            ...
3054916  OTHER RESIDENCE            NaN
3054917         SIDEWALK          109.0
3054922           STREET            NaN
3054927      PARKING LOT            NaN
3054931         DRIVEWAY            NaN

                                            Weapon Desc Status   Status Desc  \
6                                                   NaN     IC   Invest Cont
11       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     AO   Adult Other
14       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     IC   Invest Cont
17       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     IC   Invest Cont
19       STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)     AA  Adult Arrest
...                                                 ...    ...           ...
3054916                                             NaN     IC   Invest Cont
3054917                           SEMI-AUTOMATIC PISTOL     IC   Invest Cont
3054922                                             NaN     IC   Invest Cont
3054927                                             NaN     IC   Invest Cont
3054931                                             NaN     IC   Invest Cont

                                         LOCATION  \
6                 PICO                         BL
11                ALAMEDA                      ST
14                                            1ST
17         600    SAN JULIAN                   ST
19         800 N  ALAMEDA                      ST
...                                           ...
3054916           FRANKLIN                     AV
3054917   1800 E  MARTIN LUTHER KING JR        BL
3054922   3400    HUXLEY                       ST
3054927  15300    SHERMAN                      WY
3054931  22700    NAPA                         ST

                            Cross Street      LAT       LON  AREA
6        GRAND                        AV  34.0389 -118.2643   NaN
11       7TH                          ST  34.0350 -118.2386   NaN
14                           LOS ANGELES  34.0515 -118.2424   NaN
17                                   NaN  34.0428 -118.2461   NaN
19                                   NaN  34.0563 -118.2374   NaN
...                                  ...      ...       ...   ...
3054916  IVAR                         AV  34.1053 -118.3290   6.0
3054917                              NaN  34.0098 -118.2413  13.0
3054922                              NaN  34.1158 -118.2732  11.0
3054927                              NaN  34.2012 -118.4725   9.0
3054931                              NaN  34.2260 -118.6214  21.0

[960322 rows x 23 columns]

In [85]:
#Save DataFrame to csv file

combined_df.to_csv('theft_and_burglary.csv', index = False)